
@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@layer components {
  button {
    @apply text-2xl border-2 text-neutral-50 flex-auto justify-between ;
    
  }
  
  .btn-primary {
    @apply text-cyan-500;
  }
}

.background-image {
  background-image: url('./assets/Background.jpeg');
  background-size: cover;
  height:100vh;

}

